body{
	text-align: center;
	padding:0;
	margin:0;
	line-height: 1.7;
}
a{
	text-decoration:none;
}
a:link,a:visited{
	color:#fefefe;
}
a:hover,a:active{
	color:#d8d8d8;
}
input{
	padding:10px;
	font-size: 14px;
	width:50%;
	height:25px;
}

.index-main-body{
	text-align: center;
	background-color:rgba(0,0,0,0.3);
	color:#fefefe;
	width:auto;
	margin-left: 35%;
	margin-right: 35%;
	margin-top:10%;
	border-radius: 1.5em;
}
.index-tab-navs{
	color:#fefefe;
	font-size:18px;
	position: relative;
	display: inline-block;
	}
.index-tab-navs a{
	padding:10px;
	line-height: 35px;
}

.group-inputs{
	margin-top:5%;
	height:200px;
	border-color:rgba(0,0,0,0.3);
}
.tourist{
	font-size: 18px;
}
